# C/C++ Build artifacts

# Executables
*.exe
*.out
*.app
a.out

# Object files
*.o
*.obj
*.lo
*.slo
*.wo

# Libraries
*.a
*.lib
*.so
*.dylib
*.dll

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Fortran module files
*.mod
*.smod
